---
import type { Language } from '@/i18n/config'
import ThemeToggle from '@/components/ThemeToggle.astro'
import LangToggle from '@/components/LangToggle.astro'
import { themeConfig } from '@/config'

interface Props {
  supportedLangs: Language[]
}

const {
  light: { background: lightMode },
  dark: { background: darkMode },
} = themeConfig.color

const { supportedLangs } = Astro.props
---

<div
  class:list={[
    'absolute right-7.25vw top-14.6 flex gap-4 items-center min-[823px]:max-lg:right-[calc(50vw-22rem)]',
    'lg:(fixed bottom-[min(10.27rem+1.92vw,12rem)] right-[max(5rem,calc(50vw-35rem))] top-auto flex-col gap-6)',
  ]}
>
  <LangToggle supportedLangs={supportedLangs} />
  <ThemeToggle lightModeColor={lightMode} darkModeColor={darkMode} />
</div>
